<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
    var loggedInUser = Session["LoggedInUser"] as NewsWeb.Models.Users;

}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ZenBlog Bootstrap Template - Single Post</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/assets/img/favicon.png" rel="icon">
    <link href="/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="/Content/assets/css/variables.css" rel="stylesheet">
    <link href="/Content/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: ZenBlog
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
    <style>
        .single-post img {
            max-width: 700px;
            height: auto;
            margin-left: 120px;
        }

        .Image {
            margin-left: 120px;
        }
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    @Html.Partial("Header")<!-- End Header -->

    <main id="main">
        
        <section class="single-post-content">
            <div class="container">

                <div class="row">

                    <div class="col-md-9 post-content" data-aos="fade-up">
                        <input id="textToSpeak" rows="4" cols="50" placeholder="Nhập văn bản cần nói" type="hidden" value="@ViewBag.ContentText"></input>
                        <select id="voiceSelect"></select>
                        <span style="cursor: pointer" onclick="speakText()" class="bi-volume-up"></span>
                        @{
                            var contentObject = ViewBag.ContentObject as object;
                            var link = ViewBag.link as string;
                        }
                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            @Html.Raw(contentObject)
                        </div>


                        <!-- End Single Post Content -->

                        <h5 class="comment-title py-4">Chia sẻ</h5>
                        <a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=@link" target="_blank"><span class="bi-facebook"></span></a>
                        <a href="https://twitter.com/intent/tweet?url=@Request.Url.AbsoluteUri" data-size="large" target="_blank"><span class="bi-twitter"></a>
                        <a href="javascript:;" onclick="window.open('https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;su=C%E1%BA%A7u+v%C6%B0%E1%BB%A3t+th%C3%A9p+c%E1%BB%ADa+ng%C3%B5+T%C3%A2n+S%C6%A1n+Nh%E1%BA%A5t+th%C3%A0nh+%27%C4%91i%E1%BB%83m+%C4%91en%27+tai+n%E1%BA%A1n&amp;body=@Request.Url.AbsoluteUri', '_blank')" class="mail" rel="nofollow" title="Mail">
                            <span class="bi-mailbox2"></span>
                        </a>

                        <!-- ======= Comments Form ======= -->
                        <div class="row justify-content-center mt-5">

                            <div class="col-lg-12">
                                <h5 class="comment-title">Để lại bình luận</h5>
                                <form action="/Detail/Comment" method="post">
                                    <div class="row">

                                        <div class="col-12 mb-3">

                                            <textarea name="comment" class="form-control" id="comment-message" placeholder="Nhập bình luận" cols="30" rows="10"></textarea>
                                            <input type="hidden" name="link" value="@link">
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" class="btn btn-primary" value="Đăng bình luận">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- End Comments Form -->
                        <!-- ======= Comments ======= -->
                        <div class="comments">
                            <h5 class="comment-title py-4">@ViewBag.ItemList.Count Bình luận</h5>
                            @foreach (var item in ViewBag.ItemList)
                            {
                                <div class="comment d-flex mb-4">
                                    <div class="flex-shrink-0">
                                        <div class="avatar avatar-sm rounded-circle">
                                            <img class="avatar-img" src="assets/img/person-5.jpg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-2 ms-sm-3">
                                        <div class="comment-meta d-flex align-items-baseline">
                                            <h6 class="me-2">@item.nameUser</h6>
                                            <span class="text-muted">2d</span>
                                        </div>
                                        <div class="comment-body">
                                            @item.message
                                        </div>


                                    </div>
                                    @if (loggedInUser.id == item.idUser)
                                    {
                                        <form action="/Detail/RemoveComment" method="post">
                                            <input type="hidden" name="link" value="@link">
                                            <input type="hidden" name="id" value="@item.id">
                                            <button type="submit"><span class="icon bi-x"></span></button>
                                        </form>
                                    }

                                </div>
                            }
                        </div><!-- End Comments -->


                        <script>
                            function populateVoiceList() {
                                var voices = window.speechSynthesis.getVoices();
                                var voiceSelect = document.getElementById('voiceSelect');

                                voices.forEach(function (voice) {
                                    if (voice.lang.startsWith('vi')) {
                                        var option = document.createElement('option');
                                        option.textContent = voice.name + ' (' + voice.lang + ')';
                                        option.value = voice.name;
                                        voiceSelect.appendChild(option);
                                    }
                                });
                            }

                            function speakText() {
                                var textToSpeak = document.getElementById("textToSpeak").value;

                                var synth = window.speechSynthesis;
                                var utterance = new SpeechSynthesisUtterance(textToSpeak);

                                // Lấy giọng được chọn từ dropdown
                                var selectedVoice = document.getElementById('voiceSelect').value;
                                var voices = synth.getVoices();
                                var voice = voices.find(v => v.name === selectedVoice);

                                // Thiết lập giọng cho utterance
                                if (voice) {
                                    utterance.voice = voice;
                                }

                                synth.speak(utterance);
                            }

                            // Sự kiện xảy ra khi danh sách giọng được cập nhật
                            window.speechSynthesis.onvoiceschanged = populateVoiceList;
                        </script>


                    </div>
                    <div class="col-md-3">
                        <!-- ======= Sidebar ======= -->


                        <div class="aside-block">
                            <h3 class="aside-title">Danh mục</h3>
                            <ul class="aside-links list-unstyled">
                                <li><a href="/Category/World"><i class="bi bi-chevron-right"></i> Kinh doanh</a></li>
                                <li><a href="/Category/World"><i class="bi bi-chevron-right"></i> Thế giới</a></li>
                                <li><a href="/Category/Life"><i class="bi bi-chevron-right"></i> Đời sống</a></li>
                                <li><a href="/Category/Entertaiment"><i class="bi bi-chevron-right"></i> Giải trí</a></li>
                                <li><a href="/Category/Sport"><i class="bi bi-chevron-right"></i> Thể thao</a></li>
                                <li><a href="/Category/Law"><i class="bi bi-chevron-right"></i> Pháp luật</a></li>
                                <li><a href="/Category/Education"><i class="bi bi-chevron-right"></i> Giáo dục</a></li>
                                <li><a href="/Category/Health"><i class="bi bi-chevron-right"></i> Sức khỏe</a></li>
                                <li><a href="/Category/Travel"><i class="bi bi-chevron-right"></i> Du lịch</a></li>
                            </ul>
                        </div><!-- End Categories -->

                        <div class="aside-block">
                            <h3 class="aside-title">Tags</h3>
                            <ul class="aside-tags list-unstyled">
                                <li><a href="category.html">Business</a></li>
                                <li><a href="category.html">Culture</a></li>
                                <li><a href="category.html">Sport</a></li>
                                <li><a href="category.html">Food</a></li>
                                <li><a href="category.html">Politics</a></li>
                                <li><a href="category.html">Celebrity</a></li>
                                <li><a href="category.html">Startups</a></li>
                                <li><a href="category.html">Travel</a></li>
                            </ul>
                        </div><!-- End Tags -->

                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">

                <div class="row g-5">
                    <div class="col-lg-4">
                        <h3 class="footer-heading">About ZenBlog</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
                        <p><a href="about.html" class="footer-link-more">Learn More</a></p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Navigation</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="index.html"><i class="bi bi-chevron-right"></i> Home</a></li>
                            <li><a href="index.html"><i class="bi bi-chevron-right"></i> Blog</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Categories</a></li>
                            <li><a href="single-post.html"><i class="bi bi-chevron-right"></i> Single Post</a></li>
                            <li><a href="about.html"><i class="bi bi-chevron-right"></i> About us</a></li>
                            <li><a href="contact.html"><i class="bi bi-chevron-right"></i> Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Categories</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Business</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Culture</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Sport</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Food</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Politics</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Startups</a></li>
                            <li><a href="category.html"><i class="bi bi-chevron-right"></i> Travel</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <h3 class="footer-heading">Recent Posts</h3>

                        <ul class="footer-links footer-blog-entry list-unstyled">
                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-1.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>5 Great Startup Tips for Female Founders</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-3.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>Life Insurance And Pregnancy: A Working Mom’s Guide</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-post.html" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-4.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>How to Avoid Distraction and Stay Focused During Video Calls?</span>
                                    </div>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Content/assets/vendor/aos/aos.js"></script>
    <script src="/Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Content/assets/js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Lấy tất cả các thẻ div có class 'footer-content width_common'
            var footerNodes = document.querySelectorAll('.footer-content');
            // Lặp qua từng thẻ div và xóa chúng
            footerNodes.forEach(function (footerNode) {
                footerNode.parentNode.removeChild(footerNode);
            });
        });


    </script>

</body>

</html>